<div class="row">
  <div class="col-md-12">
    <p style="color: green"><%= notice %></p>
    <h1>Users</h1>
    <%= render @user %>
    <div>
      <%= link_to "Edit this user", edit_user_path(@user) %> |
      <%= link_to "Back to users", users_path %>
    </div>
  </div>
</div>
